---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
import { SITE } from "../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<SiteLayout title={SITE.title} description={SITE.description}>
  <ul class="postlist">
    {
      posts.map((post) => (
        <li class="postrow">
          <div class="postbody">
            <a href={`/blog/${post.id}/`}>{post.data.title}</a>
            <p>{post.data.description ?? "—"}</p>
          </div>
          <div class="postdate">
            <FormattedDate date={post.data.pubDate} />
          </div>
        </li>
      ))
    }
  </ul>
</SiteLayout>
