---
import "../styles/global.css";
import { SITE } from "../consts";

type Props = {
  title?: string;
  description?: string;
  image?: string;
  type?: "website" | "article";
};

const { title, description, image, type = "website" } = Astro.props as Props;

const pageTitle = title ? `${SITE.title} • ${title}` : SITE.title;
const pageDescription = description ?? "-";

const canonicalURL = Astro.site
  ? new URL(Astro.url.pathname, Astro.site)
  : undefined;

const ogImage = image && Astro.site ? new URL(image, Astro.site) : undefined;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content={pageDescription} />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE.title}
  href={Astro.site ? new URL("rss.xml", Astro.site) : "/rss.xml"}
/>

<meta name="generator" content={Astro.generator} />

<title>{pageTitle}</title>
{canonicalURL && <link rel="canonical" href={canonicalURL} />}

<!-- Open Graph -->
<meta property="og:type" content={type} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={pageDescription} />
<meta property="og:url" content={canonicalURL ?? Astro.url} />
{ogImage && <meta property="og:image" content={ogImage.toString()} />}

<!-- Twitter -->
<meta
  name="twitter:card"
  content={ogImage ? "summary_large_image" : "summary"}
/>
<meta name="twitter:title" content={pageTitle} />
<meta name="twitter:description" content={pageDescription} />
{ogImage && <meta name="twitter:image" content={ogImage.toString()} />}
